Repository noeesparsa/Lab: changes, and which Codecov flags are due for each by the changed paths.
All: apps_react-lab, libs_react-components

chore: update router
  apps/react-lab/src/app/constants/routes.tsx
  apps/react-lab/src/app/pages/home/home-page.tsx
Due: apps_react-lab

chore: update router
  vercel.json
Due: none

chore: update router (#39)
  apps/react-lab/src/app/constants/routes.tsx
  apps/react-lab/src/app/pages/home/home-page.tsx
  vercel.json
Due: apps_react-lab

chore: configure eslint and git hooks
  .eslintrc.json
  .husky/commit-msg
  .husky/pre-commit
  .prettierrc
  apps/react-lab/.eslintrc.js
  apps/react-lab/.eslintrc.json
  apps/react-lab/src/app/app.tsx
  apps/react-lab/src/app/components/global-error/global-error.component.tsx
  apps/react-lab/src/app/components/router-global-error/router-global-error.component.tsx
  apps/react-lab/src/app/constants/routes.tsx
  apps/react-lab/src/main.tsx
  apps/react-lab/src/tests/render-with-router.tsx
  apps/react-lab/vite.config.ts
  commitlint.config.js
  libs/react-components/.eslintrc.js
  libs/react-components/.eslintrc.json
  libs/react-components/src/lib/error-card/error-card.component.stories.tsx
  libs/react-components/src/lib/error-card/error-card.component.tsx
  libs/react-components/src/lib/error-card/error-card.spec.tsx
  libs/react-components/src/lib/navbar/navbar.stories.tsx
  libs/react-components/src/lib/navbar/navbar.tsx
  libs/react-components/src/tests/render-with-router.tsx
  libs/react-components/tailwind.config.js
  libs/react-components/vite.config.ts
  package-lock.json
  package.json
Due: apps_react-lab, libs_react-components

chore: update eslint
  .eslintrc.json
Due: none

chore: update eslint config
  .eslintrc.json
  apps/react-lab/tsconfig.app.json
Due: none

chore: update eslint files
  .eslintrc
  apps/react-lab-e2e/.eslintrc
  apps/react-lab/.eslintrc
  libs/react-components/.eslintrc.json
Due: none

chore: add codecov file
  .codeclimate.yml
Due: none

chore: update codeclimate
  .codeclimate.yml
Due: none

chore: conf eslint
  .eslintrc
  .eslintrc.json
  apps/react-lab/.eslintrc
  apps/react-lab/.eslintrc.js
  libs/react-components/.eslintrc.js
  libs/react-components/.eslintrc.json
Due: none

chore: confiure husky
  .eslintrc.js
  .eslintrc.json
  .husky/pre-commit
  apps/react-lab-e2e/.eslintrc.json
  apps/react-lab/.eslintrc.js
  apps/react-lab/.eslintrc.json
  libs/react-components/.eslintrc.js
  nx.json
  package-lock.json
  package.json
Due: none

chore: update eslint config with prettier and react plugin
  .eslintignore
  .eslintrc.js
  apps/react-lab/src/app/__snapshots__/app.test.tsx.snap
  apps/react-lab/src/app/app.test.tsx
  apps/react-lab/src/app/components/global-error/__snapshots__/global-error.component.test.tsx.snap
  apps/react-lab/src/app/components/global-error/global-error.component.test.tsx
  apps/react-lab/src/app/components/global-error/global-error.component.tsx
  apps/react-lab/src/app/components/router-global-error/__snapshots__/router-global-error.component.test.tsx.snap
  apps/react-lab/src/app/components/router-global-error/router-global-error.component.test.tsx
  apps/react-lab/src/app/components/router-global-error/router-global-error.component.tsx
  apps/react-lab/src/app/constants/routes.tsx
  apps/react-lab/tsconfig.app.json
  apps/react-lab/tsconfig.spec.json
  libs/react-components/.storybook/main.ts
  libs/react-components/src/lib/error-card/__snapshots__/error-card.test.tsx.snap
  libs/react-components/src/lib/error-card/error-card.component.tsx
  libs/react-components/src/lib/error-card/error-card.test.tsx
  libs/react-components/src/lib/navbar/__snapshots__/navbar.test.tsx.snap
  libs/react-components/src/lib/navbar/navbar.stories.tsx
  libs/react-components/src/lib/navbar/navbar.test.tsx
  libs/react-components/tsconfig.lib.json
  libs/react-components/vite.config.ts
  package-lock.json
  package.json
Due: apps_react-lab, libs_react-components

chore: add codeclimate.yml
  .codeclimate.yml
  .eslintrc.js
  apps/react-lab/.eslintrc.js
  tsconfig.base.json
Due: none

chore: add codeclimate.yml
  .codeclimate.yml
Due: none

chore: update eslint
  .codeclimate.yml
  .eslintrc.js
  apps/react-lab/vite.config.ts
Due: none

chore: update codeclimate
  .eslintrc.js
Due: none

chore: update eslint confid
  .eslintrc.js
  apps/react-lab/.eslintrc.js
  apps/react-lab/src/app/app.test.tsx
  apps/react-lab/src/app/components/global-error/global-error.component.test.tsx
  apps/react-lab/src/app/components/router-global-error/router-global-error.component.test.tsx
  apps/react-lab/src/app/components/router-global-error/router-global-error.component.tsx
  apps/react-lab/src/main.tsx
  apps/react-lab/src/tests/render-with-router.tsx
  apps/react-lab/tsconfig.json
  apps/react-lab/tsconfig.spec.json
  apps/react-lab/vite.config.ts
  libs/react-components/.eslintrc.js
  libs/react-components/src/lib/error-card/error-card.component.stories.tsx
  libs/react-components/src/lib/navbar/__snapshots__/navbar.test.tsx.snap
  libs/react-components/src/lib/navbar/navbar.test.tsx
  libs/react-components/src/tests/render-with-router.tsx
  libs/react-components/tsconfig.spec.json
  libs/react-components/vite.config.ts
Due: apps_react-lab, libs_react-components

chore: update eslint config
  .eslintrc.js
  apps/react-lab/.eslintrc.js
Due: none

chore: update eslint config
  .eslintrc.js
  apps/react-lab/.eslintrc.js
  libs/react-components/src/lib/navbar/navbar.tsx
Due: libs_react-components

chore: update eslint config
  .eslintrc.js
  .prettierrc
  apps/react-lab/.eslintrc.js
  apps/react-lab/src/app/app.tsx
  apps/react-lab/src/app/classes/errors/global-error-boundary.ts
  apps/react-lab/src/app/components/global-error/global-error.component.test.tsx
  apps/react-lab/src/app/components/global-error/global-error.component.tsx
  apps/react-lab/src/app/components/router-global-error/router-global-error.component.test.tsx
  apps/react-lab/src/app/components/router-global-error/router-global-error.component.tsx
  apps/react-lab/src/main.tsx
  apps/react-lab/src/tests/render-with-router.tsx
  package-lock.json
  package.json
Due: apps_react-lab

chore: update eslint config
  apps/react-lab/.eslintrc.js
  apps/react-lab/src/app/app.tsx
  apps/react-lab/src/app/components/router-global-error/router-global-error.component.tsx
  libs/react-components/src/index.ts
  libs/react-components/src/lib/error-card/error-card.component.tsx
  libs/react-components/src/lib/error-card/error-card.test.tsx
  libs/react-components/src/lib/index.ts
  libs/react-components/src/lib/navbar/index.ts
  libs/react-components/src/lib/navbar/navbar.component.tsx
  libs/react-components/src/lib/navbar/navbar.stories.tsx
  libs/react-components/src/lib/navbar/navbar.test.tsx
  libs/react-components/src/lib/navbar/navbar.tsx
  libs/react-components/tailwind.config.js
  package-lock.json
  package.json
Due: apps_react-lab, libs_react-components

chore: configure lintstaged and commitlint
  .husky/commit-msg
  .lintstagedrc.cjs
  .prettierignore
  apps/react-lab/tsconfig.app.json
  commitlint.config.js
  nx.json
  package-lock.json
  package.json
Due: none

chore: update readme.md
  README.md
Due: none

chore: add stylelint
  .lintstagedrc.cjs
  .prettierignore
  .stylelintignore
  .stylelintrc.json
  .vscode/extensions.json
  apps/react-lab/.stylelintrc.json
  apps/react-lab/project.json
  nx.json
  package-lock.json
  package.json
Due: none

chore: configure stylelint lintstaged and commitlint (#55)
  .husky/commit-msg
  .lintstagedrc.cjs
  .prettierignore
  .stylelintignore
  .stylelintrc.json
  .vscode/extensions.json
  README.md
  apps/react-lab/.stylelintrc.json
  apps/react-lab/project.json
  apps/react-lab/tsconfig.app.json
  commitlint.config.js
  nx.json
  package-lock.json
  package.json
Due: none

test: add get-pokemon-by-id.ts test
  .codeclimate.yml
  .lintstagedrc.cjs
  libs/data-access-pokemon/src/lib/pokemon/functions/get-pokemon-by-id.test.ts
  libs/data-access-pokemon/src/lib/pokemon/functions/get-pokemon-by-id.ts
  libs/data-access-pokemon/src/lib/pokemon/functions/index.ts
  libs/data-access-pokemon/src/lib/shared/get-data-from-pokeapi.test.ts
  libs/data-access-pokemon/src/lib/shared/get-data-from-pokeapi.ts
  package-lock.json
  package.json
Due: none

chore: update renovate rules
  renovate.json
Due: none

chore: adjust deps versions
  package-lock.json
  package.json
Due: none

chore: migrate nx
  package-lock.json
  package.json
Due: none

chore: reevert deps update
  package-lock.json
  package.json
Due: none

chore: adjust deps versions (#87)
  package-lock.json
  package.json
Due: none

chore: update package lock
  package-lock.json
Due: none

chore: configure PWA
  apps/react-lab/index.html
  apps/react-lab/public/android-chrome-192x192.png
  apps/react-lab/public/android-chrome-512x512.png
  apps/react-lab/public/apple-touch-icon.png
  apps/react-lab/public/browserconfig.xml
  apps/react-lab/public/favicon-16x16.png
  apps/react-lab/public/favicon-32x32.png
  apps/react-lab/public/favicon.ico
  apps/react-lab/public/mstile-150x150.png
  apps/react-lab/public/safari-pinned-tab.svg
  apps/react-lab/src/app/app.tsx
  apps/react-lab/src/assets/logo.png
  apps/react-lab/src/assets/logo_without_background.png
  apps/react-lab/vite.config.ts
  package.json
Due: apps_react-lab

chore: update snapshot
  apps/react-lab/src/app/__snapshots__/app.test.tsx.snap
Due: apps_react-lab

chore: configure PWA (#80)
  apps/react-lab/index.html
  apps/react-lab/public/android-chrome-192x192.png
  apps/react-lab/public/android-chrome-512x512.png
  apps/react-lab/public/apple-touch-icon.png
  apps/react-lab/public/browserconfig.xml
  apps/react-lab/public/favicon-16x16.png
  apps/react-lab/public/favicon-32x32.png
  apps/react-lab/public/favicon.ico
  apps/react-lab/public/mstile-150x150.png
  apps/react-lab/public/safari-pinned-tab.svg
  apps/react-lab/src/app/__snapshots__/app.test.tsx.snap
  apps/react-lab/src/app/app.tsx
  apps/react-lab/src/assets/logo.png
  apps/react-lab/src/assets/logo_without_background.png
  apps/react-lab/vite.config.ts
  package-lock.json
  package.json
Due: apps_react-lab

Path conditions:
  apps_react-lab: any of: apps/react-lab/src/app, but not: documentation, dist, tools
  libs_react-components: any of: libs/react-components/src/lib, but not: documentation, dist, tools
