Repository noeesparsa/Lab: changes, and which Codecov flags are due for each by the changed paths.
All: apps_react-lab, libs_react-components

codecov.yml:

coverage:
  range: 60..90
  round: down
  precision: 2
  status:
    project:
      default:
        target: 90%
        threshold: 0%
        base: auto
      apps_react-lab:
        target: 85%
        paths:
          - "apps/react-lab/src/app"
      libs_react-components:
        paths:
          - "libs/react-components/src/lib"
        target: 95%
    patch:
      default:
        target: auto
        threshold: 0%
        base: auto

comment:
  layout: 'reach, diff, flags, components, files'
  behavior: new
  require_changes: false
  require_base: false
  require_head: false
  branches:
    - 'main'

component_management:
  individual_components:
    - component_id: apps_react-lab
      name: apps_react-lab
      paths:
        - apps/react-lab/src/app
    - component_id: libs_react-components
      name: libs_react-components
      paths:
        - libs/react-components/src/lib

ignore:
  - documentation
  - dist
  - tools

chore: replace dependabot by renovate
  .github/dependabot.yml
  renovate.json
Due: none

chore: replace dependabot by renovate (#354)
  .github/dependabot.yml
  renovate.json
Due: none

chore: update renovate config
  renovate.json
Due: none

chore: update renovate config (#394)
  renovate.json
Due: none

chore: update renovate config (#399)
  renovate.json
Due: none

chore: update navbar logo
  apps/react-lab/src/app/app.tsx
Due: apps_react-lab

chore: update app test snapshot
  apps/react-lab/src/app/__snapshots__/app.test.tsx.snap
Due: apps_react-lab

chore: update navbar logo (#404)
  apps/react-lab/src/app/__snapshots__/app.test.tsx.snap
  apps/react-lab/src/app/app.tsx
Due: apps_react-lab

chore: update pull request workflow
  .github/workflows/pull-request.yml
Due: none

chore: update pull request workflow (#405)
  .github/workflows/pull-request.yml
Due: none

chore: run codecov
  .github/workflows/pull-request.yml
  libs/util-i18n/.prettierignore
Due: none

chore: run codecov (#412)
  .github/workflows/pull-request.yml
  libs/util-i18n/.prettierignore
Due: none

chore: update workflow
  .github/workflows/pull-request.yml
Due: none

chore: update nx.json
  nx.json
Due: none

chore: update workflow (#413)
  .github/workflows/pull-request.yml
  nx.json
Due: none

test: update sidebar-menu test
  libs/react-components/src/lib/components/sidebar-menu/sidebar-menu.test.tsx
Due: libs_react-components

test: add getSortIcon tests
  libs/react-components/src/lib/components/table/functions/get-sort-icon.test.tsx
  libs/react-components/src/lib/components/table/functions/get-sort-icon.tsx
  libs/react-components/src/lib/components/table/ui-table.component.tsx
Due: libs_react-components

chore: adjust storybook theme
  libs/react-components/.storybook/preview.ts
  libs/react-components/.storybook/theme.ts
Due: none

chore: update test and eslint config t avoid linting issue
  .eslintrc.js
  libs/react-components/.eslintrc.js
  libs/react-components/src/lib/components/table/custom-cells/date-cell/__snapshots__/ui-table-date-cell.test.tsx.snap
  libs/react-components/src/lib/components/table/custom-cells/img-cell/__snapshots__/ui-table-img-cell.test.tsx.snap
  libs/react-components/src/lib/components/table/custom-cells/progress-bar-cell/__snapshots__/progress-bar-cell.test.tsx.snap
  libs/react-components/src/lib/components/table/custom-cells/tag-cell/__snapshots__/ui-table-tag-cell.test.tsx.snap
  libs/react-components/src/lib/components/table/functions/build-boolean-tag-cell.test.tsx
  libs/react-components/src/lib/components/table/functions/build-status-tag-cell.test.tsx
  libs/react-components/src/lib/components/table/ui-table.test.tsx
Due: libs_react-components

chore: update codecov config
  codecov.yml
Due: none

chore: update codacy ignored files
  .codacy.yml
Due: none

chore: update README.md
  README.md
Due: none

chore: add link to navbar + remove unused sidebar buttons
  apps/react-lab/src/app/__snapshots__/app.test.tsx.snap
  apps/react-lab/src/app/app.module.scss
  apps/react-lab/src/app/app.tsx
  libs/react-components/src/lib/components/navbar/navbar.module.scss
  package-lock.json
  package.json
Due: apps_react-lab, libs_react-components

chore: create IconLink component to avoid duplicate
  apps/react-lab/src/app/__snapshots__/app.test.tsx.snap
  apps/react-lab/src/app/app.module.scss
  apps/react-lab/src/app/app.tsx
  libs/react-components/src/lib/components/icon-link/__snapshots__/icon-link.test.tsx.snap
  libs/react-components/src/lib/components/icon-link/icon-link.component.tsx
  libs/react-components/src/lib/components/icon-link/icon-link.module.scss
  libs/react-components/src/lib/components/icon-link/icon-link.stories.tsx
  libs/react-components/src/lib/components/icon-link/icon-link.test.tsx
  libs/react-components/src/lib/components/icon-link/index.ts
  libs/react-components/src/lib/components/index.ts
Due: apps_react-lab, libs_react-components

chore: update menubar (#432)
  apps/react-lab/src/app/__snapshots__/app.test.tsx.snap
  apps/react-lab/src/app/app.tsx
  libs/react-components/src/lib/components/icon-link/__snapshots__/icon-link.test.tsx.snap
  libs/react-components/src/lib/components/icon-link/icon-link.component.tsx
  libs/react-components/src/lib/components/icon-link/icon-link.module.scss
  libs/react-components/src/lib/components/icon-link/icon-link.stories.tsx
  libs/react-components/src/lib/components/icon-link/icon-link.test.tsx
  libs/react-components/src/lib/components/icon-link/index.ts
  libs/react-components/src/lib/components/index.ts
  libs/react-components/src/lib/components/navbar/navbar.module.scss
  package-lock.json
  package.json
Due: apps_react-lab, libs_react-components

Revert "chore: rebase"
  package-lock.json
Due: none

Revert "chore: migrate nx"
  .env
  apps/react-lab/project.json
  libs/data-access-pokemon/project.json
  libs/react-components/project.json
  libs/react-components/src/lib/components/sidebar-menu/sidebar-menu.test.tsx
  libs/util-api-pokemon/project.json
  libs/util-i18n/project.json
  nx.json
  package-lock.json
  package.json
Due: libs_react-components

chore: rebase
  package-lock.json
Due: none

chore: migrate nx
  .env
  apps/react-lab/project.json
  libs/data-access-pokemon/project.json
  libs/react-components/project.json
  libs/react-components/src/lib/components/sidebar-menu/sidebar-menu.test.tsx
  libs/util-api-pokemon/project.json
  libs/util-i18n/project.json
  nx.json
  package-lock.json
  package.json
Due: libs_react-components

chore: migrate nx
  .github/workflows/pull-request.yml
Due: none

fix: repair linter issue
  libs/react-components/src/lib/components/sidebar-menu/sidebar-menu.test.tsx
  package-lock.json
Due: libs_react-components

chore: migrate nx
  .env
  apps/react-lab/project.json
  libs/data-access-pokemon/project.json
  libs/react-components/project.json
  libs/util-api-pokemon/project.json
  libs/util-i18n/project.json
  nx.json
  package-lock.json
  package.json
Due: none

chore: update git workflow
  .github/workflows/pull-request.yml
Due: none

chore: update nx
  libs/react-components/src/lib/components/sidebar-menu/sidebar-menu.test.tsx
  package-lock.json
  package.json
Due: libs_react-components

chore: update package
  package-lock.json
Due: none

chore: update package
  .github/workflows/pull-request.yml
Due: none
