Repository noeesparsa/Lab: changes, and which Codecov flags are due for each by the changed paths.
All: apps_react-lab, libs_react-components

chore: update package
  .github/workflows/pull-request.yml
Due: none

chore: update workflow
  .github/workflows/pull-request.yml
Due: none

chore: update nx (#444)
  .github/workflows/pull-request.yml
  libs/react-components/src/lib/components/sidebar-menu/sidebar-menu.test.tsx
  package-lock.json
  package.json
Due: libs_react-components

feat: add pokemon type tag + create pokemon interface + create error components
  apps/react-lab/src/app/components/error/pokedex-entry-error/pokedex-entry-error.component.tsx
  apps/react-lab/src/app/components/error/pokedex-error/pokedex-error.component.tsx
  apps/react-lab/src/app/components/pokedex-entry/pokedex-entry.component.tsx
  apps/react-lab/src/app/components/pokedex-entry/pokedex-entry.module.scss
  apps/react-lab/src/app/components/pokemon-type-tag/pokemon-type-tag.module.scss
  apps/react-lab/src/app/components/pokemon-type-tag/pokemon-type-tag.tsx
  apps/react-lab/src/app/functions/get-pokemon-type-color.ts
  apps/react-lab/src/app/functions/index.ts
  apps/react-lab/src/app/pages/pokedex/pokedex-page.component.tsx
  apps/react-lab/src/app/pages/pokedex/pokedex-page.module.scss
  libs/data-access-pokemon/src/lib/pokemon/functions/get-all-pokemons-lite.ts
  libs/data-access-pokemon/src/lib/pokemon/functions/get-pokemon-by-name.ts
  libs/data-access-pokemon/src/lib/pokemon/functions/get-pokemons-lite.ts
  libs/data-access-pokemon/src/lib/pokemon/interfaces/index.ts
  libs/data-access-pokemon/src/lib/pokemon/interfaces/pokemon-lite-paginated.interface.ts
  libs/data-access-pokemon/src/lib/pokemon/interfaces/pokemon-lite.interface.ts
  libs/data-access-pokemon/src/lib/pokemon/interfaces/pokemon.interface.ts
  libs/data-access-pokemon/src/lib/pokemon/interfaces/sprite.interface.ts
  libs/data-access-pokemon/src/lib/pokemon/interfaces/type.interface.ts
  libs/data-access-pokemon/src/lib/shared/index.ts
  libs/data-access-pokemon/src/lib/shared/interfaces/index.ts
  libs/data-access-pokemon/src/lib/shared/interfaces/utility/index.ts
  libs/data-access-pokemon/src/lib/shared/interfaces/utility/named-api-resource.interface.ts
  libs/data-access-pokemon/src/lib/shared/interfaces/utility/pokeapi-resource-list.interface.ts
  package-lock.json
  package.json
Due: apps_react-lab

feat: update pokedex page to correctly display pokemon cards
  apps/react-lab/src/app/components/error/pokedex-entry-error/pokedex-entry-error.component.tsx
  apps/react-lab/src/app/components/error/pokedex-error/pokedex-error.component.tsx
  apps/react-lab/src/app/components/pokedex-entry/pokedex-entry.component.tsx
  apps/react-lab/src/app/pages/pokedex/pokedex-page.component.tsx
  apps/react-lab/src/app/pages/pokedex/pokedex-page.module.scss
Due: apps_react-lab

refactor: use endpoint from api response to fetch pokemon
  apps/react-lab/src/app/components/pokedex-entry/pokedex-entry.component.tsx
  apps/react-lab/src/app/components/pokedex-entry/pokedex-entry.module.scss
  apps/react-lab/src/app/pages/pokedex/pokedex-page.component.tsx
  libs/data-access-pokemon/src/lib/pokemon/functions/get-all-pokemons-lite.test.ts
  libs/data-access-pokemon/src/lib/pokemon/functions/get-all-pokemons-lite.ts
  libs/data-access-pokemon/src/lib/pokemon/functions/get-pokemon-by-name.test.ts
  libs/data-access-pokemon/src/lib/pokemon/functions/get-pokemon-by-name.ts
  libs/data-access-pokemon/src/lib/pokemon/functions/get-pokemon.test.ts
  libs/data-access-pokemon/src/lib/pokemon/functions/get-pokemon.ts
  libs/data-access-pokemon/src/lib/pokemon/functions/get-pokemons-lite.ts
  libs/data-access-pokemon/src/lib/pokemon/functions/index.ts
  libs/data-access-pokemon/src/lib/shared/functions/get-data-from-pokeapi.test.ts
  libs/data-access-pokemon/src/lib/shared/interfaces/utility/named-api-resource.interface.ts
Due: apps_react-lab

chore: test commit
  apps/react-lab/src/app/components/error/pokedex-entry-error/pokedex-entry-error.component.tsx
  apps/react-lab/src/app/components/pokedex-entry/pokedex-entry.component.tsx
  apps/react-lab/src/app/components/pokedex-entry/pokedex-entry.module.scss
  libs/data-access-pokemon/src/lib/pokemon/functions/get-pokemon.test.ts
  libs/data-access-pokemon/src/lib/pokemon/functions/get-pokemons-lite.test.ts
Due: apps_react-lab

Path conditions:
  apps_react-lab: any of: apps/react-lab/src/app, but not: documentation, dist, tools
  libs_react-components: any of: libs/react-components/src/lib, but not: documentation, dist, tools
